<ion-header>
   <ion-toolbar>
      <ion-title>
         My Network
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-button (click)="getContacts()" color="primary" type="submit">getContacts</ion-button>
   <ion-card>
      <ion-card-header>
         <ion-card-subtitle>Select contacts to include in your UpBook Network</ion-card-subtitle>
      </ion-card-header>
      <ion-item *ngFor="let contact of allContacts">
         {{contact.name.givenName}}
      </ion-item>

   </ion-card>
</ion-content>