<ion-header>
   <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionClear)="setFilteredItems(true)" (ionChange)="setFilteredItems(false)"
         placeholder="Search Contacts" id="contactSearchbar" clear-icon #contactSearchbar></ion-searchbar>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-header>
         <ion-card-subtitle>Select UpBook Network</ion-card-subtitle>
         <ion-card-subtitle [hidden]="isNetworkSelectionDisabled !== true" color="danger">Maximum of
            {{MAX_IN_NETWORK_CONTACTS_SELECTED}} network contacts allowed</ion-card-subtitle>
      </ion-card-header>

      <div *ngIf="searching" class="spinner-container">
         <ion-spinner></ion-spinner>
      </div>

      <ion-list>
         <ion-item *ngFor="let contact of displayedContacts">
            <ion-label>{{contact.name?.givenName || "[missing name]"}} {{contact.name?.familyName}}
               <p *ngIf="contact.phoneNumbers && contact.phoneNumbers[0]?.value">{{contact.phoneNumbers[0]?.value}}</p>
               <p *ngIf="(!contact.phoneNumbers || !contact.phoneNumbers[0]?.value) 
                  && contact.emails && contact.emails[0]?.value">
                  {{contact.emails[0]?.value}}</p>
            </ion-label>
            <ion-button fill="clear" slot="start"
               [disabled]="isNetworkSelectionDisabled === true || contact.inNetwork === true"
               (click)="saveContactToNetwork(contact)">
               <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
         </ion-item>
      </ion-list>
   </ion-card>

   <ion-infinite-scroll (ionInfinite)="loadMoreContacts($event)" loadingSpinner="bubbles"
      loadingText="Loading Contacts...">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>