<ion-header>
   <ion-toolbar>
      <ion-title>
         Tab Three
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-content>
         <ion-list>
            <ion-item>
                  <ion-button (click)="deleteUBNetwork()" color="primary">Delete UB Network</ion-button>
            </ion-item>
            <ion-item>
                  <ion-button (click)="printUBNetwork()" color="primary">Print UB Network</ion-button>
            </ion-item>
         </ion-list>
      </ion-card-content>
   </ion-card>
</ion-content>