<ion-header>
   <ion-toolbar>
      <ion-title>My Network</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-header class="ion-text-center">

         <ion-button (click)="sendProfileToNetwork()"
            [disabled]="sending === true || !displayedContacts || displayedContacts.length < 1" size="default"
            fill="solid" color="primary" type="submit">
            Send Profile to Network
         </ion-button>

         <ion-buttons *ngIf="sending === true" slot="end">
            <ion-button fill="clear" size="default">
               <ion-spinner></ion-spinner>
            </ion-button>
         </ion-buttons>
         <ion-item>
            <ion-button slot="end" [disabled]="sending === true || !displayedContacts || displayedContacts.length < 1"
               (click)="clearNetworkSelections()" fill="solid" color="secondary" size="small" type="submit">
               Clear Network
            </ion-button>
         </ion-item>
      </ion-card-header>

      <ion-list>
         <ion-item *ngFor="let contact of displayedContacts">
            <ion-label>{{contact.name?.givenName || "[missing name]"}} {{contact.name?.familyName}}
               <p *ngIf="contact.phoneNumbers && contact.phoneNumbers[0]?.value">{{contact.phoneNumbers[0]?.value}}</p>
               <p *ngIf="(!contact.phoneNumbers || !contact.phoneNumbers[0]?.value) 
                     && contact.emails && contact.emails[0]?.value">
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="removeFromNetwork(contact)">
               <ion-icon color="danger" name="remove-circle"></ion-icon>
            </ion-button>
         </ion-item>
         <ion-item *ngIf="!displayedContacts || displayedContacts.length < 1">
            <ion-text class="ion-text-center">
               <h3>No Network Contacts</h3>
               <p>Use Contacts tab to make Network selections</p>
            </ion-text>
         </ion-item>
      </ion-list>
   </ion-card>
</ion-content>