<ion-header>
   <ion-toolbar>
      <ion-title>
         My Profile
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-content [hidden]="profileComplete === true">
         Please complete your profile.
      </ion-card-content>
   </ion-card>
   <app-profile-form></app-profile-form>
   <ion-card [hidden]="nextButtonNeeded !== true">
      <ion-card-content>
         <ion-button color="primary" type="submit" routerLink="/tabs/tab2" [disabled]="profileComplete !== true">Next</ion-button>
      </ion-card-content>
   </ion-card>
</ion-content>