<ion-header>
   <ion-toolbar>
      <ion-title>
         My Profile
      </ion-title>
      <ion-buttons slot="end">
         <ion-button *ngIf="!editMode" color="primary" (click)="editProfile()">Edit</ion-button>
         <ion-button *ngIf="editMode" color="default" (click)="cancel()">Cancel</ion-button>
         <ion-button *ngIf="editMode" color="success" (click)="saveProfile()">Save</ion-button>
      </ion-buttons>
   </ion-toolbar>
   <ion-toolbar class="ion-text-center" [hidden]="profileComplete === true">
      <ion-text color="primary">Please complete your profile</ion-text>
   </ion-toolbar>
</ion-header>

<ion-content>
   <app-profile-form (saveClicked)="eventFromChild()"></app-profile-form>
   <ion-card [hidden]="nextButtonNeeded !== true">
      <ion-card-content>
         <ion-list>
            <ion-item>
               Create UpBook Network
               <ion-button size="default" slot="end" color="primary" type="submit" routerLink="/tabs/tab2"
                  [disabled]="profileComplete !== true">
                  Next
               </ion-button>
            </ion-item>
         </ion-list>
      </ion-card-content>
   </ion-card>
</ion-content>