<ion-header>
   <ion-toolbar>
      <ion-title>
         My Profile
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-content [hidden]="profileComplete === true">
         <ion-text color="primary">Please complete your profile.</ion-text>
      </ion-card-content>
   </ion-card>
   <app-profile-form (saveClicked)="eventFromChild()"></app-profile-form>
   <ion-card [hidden]="networkEstablished !== true">
      <ion-card-content>
         <ion-list>
            <ion-item>
               Create UpBook Network
               <ion-button size="default" slot="end" color="primary" type="submit" routerLink="/tabs/tab2"
                  [disabled]="profileComplete !== true">
                  Next
               </ion-button>
            </ion-item>
         </ion-list>
      </ion-card-content>
   </ion-card>
</ion-content>