<ion-header>
   <ion-toolbar>
      <ion-title>Update Contact</ion-title>
      <ion-buttons slot="secondary" (click)="close()">
         <ion-button>
            Close
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-card-header>
         <ion-card-subtitle>Review Contact Updates</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
         <ion-list>
            <ion-item>
               {{contactUpdates.displayName}}
            </ion-item>
            <ion-item>
               {{contactUpdates.phoneNumbers[0].value}}
            </ion-item>
         </ion-list>
         <ion-list>
            <ion-item>
               <ion-button (click)="close()" color="primary">Cancel</ion-button>
               <ion-button (click)="close()" color="primary">Save Updates</ion-button>
            </ion-item>
         </ion-list>
      </ion-card-content>
   </ion-card>
</ion-content>